{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>
            Hello,
            {{ user.username }}! Welcom to gym wourkout app</h2>
        <div>
            {% for program in object_list %}
                <p>
                    <a href="/programdetail/{{ program.pk }}">{{ program }}</a>
                </p>
            {% endfor %}
        </div>
        <div>
            <a href='{% url "addprogram" %}'>Add program</a>
        </div>
        <div>
            <a href="{% url 'createexcercise' %}">Create Excercise</a>
        </div>
    {% endif %}

{% endblock %}